
.filters {
    display: flex;
    justify-content: space-around;
    margin-inline: 4%;
    font-family: "Kanit", sans-serif;
    padding-bottom: 10px;

    :focus-visible {
        outline: none;
    }

    .custom-select {
        background-color: #2C2C2C;
        color: white;
        border-radius: 10px;
        height: 40px;
    }

}