
.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-inline: 4%;
    font-family: "Kanit", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;


    :focus-visible {
        outline: none;
    }

    .custom-select {
        background-color: #2C2C2C;
        color: white;
        border-radius: 30px;
        height: 40px;
        width: 150px;
    }

    option {
        text-align: center;
    }
}