header {
    display: flex;
    align-items: center;
    padding-block: 20px;
    margin-inline: 7%;
    color: white;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        width: 100%;
    }

    .logoText {
        display: None;
        // Desktop
        // margin-right: 20px;
        // letter-spacing: 5px;
        // font-weight: 800;
    }

    form {
        width: 100%;
    }

    .logoImage {
        width: 50px;
    }

    .searchBar {
        height: 30px;
        //height: 44px; ==> Desktop
        width: 100%;
        border-radius: 30px;
        border: none;
        background-color: #515151;
        cursor: text;
        padding: 0 20px;
    }

    .searchBar::placeholder {
        color: #BBBBBB;
      }

    .navBar {
        display: None;
        // Desktop
        // display: flex;
        // gap: 20px;
        // width: 300px;
        // margin-left: 50px;
        // text-transform: uppercase;
    }

    .containerBurger {
        // Desktop
        // display: None;
        display: flex;
        flex-direction: column;
        width: 30px;
        gap: 5px;
        margin-left: 20px;
    }

    .containerBurger div{
        border: 1px solid white;
        width: 100%;
    }
}


