header {
    display: flex;
    align-items: center;
    padding: 24px 40px;
    color: white;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        width: 100%;
    }

    .logo {
        margin-right: 200px;
        letter-spacing: 5px;
        font-weight: 800;
    }

    form {
        width: 100%;
    }

    .searchBar {
        height: 44px;
        width: 100%;
        border-radius: 30px;
        border: none;
        background-color: #515151;
        cursor: text;
        padding: 0 20px;
    }

    .searchBar::placeholder {
        color: #BBBBBB;
      }

    .navBar {
        display: flex;
        gap: 20px;
        width: 300px;
        margin-left: 50px;
        text-transform: uppercase;
    }
}


